
body {
  font-family: 'Dotum';
  font-size: 16px;
  color: #666666;
  background-color: #e1e1e1;
}

a {
  color: #337799;
  text-decoration: none;
}

#container {
  margin: 0 auto;
  width: 750px;
}


header {
  padding: 30px 20px;
}

header h1 {
  margin: 0;
  color: #000000;
}
header p {
  margin: 0;
}

header h1 span {
  color: red;
}


#search-form {
  display: block;
  margin-bottom: 20px;
}

#search-form .search-field {
  display: inline-block;
  width: 400px;
  padding: 10px;
  color: #000;
  
  font-size: 1.5em;
  
  border: 1px solid #c9c9c9;
}

#search-form .search-btn {
  margin-left: 10px;
  padding: 10px;
  height: 50px;
  font-size: 1.5em;
  
  background: skyblue;
}


.item-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.item-list .item:after {
  clear: both;
  content: "";
}


.item-list .item {
  margin-bottom: 30px;
  border: 1px solid red;
}

.item-list .item .clear {
  clear:both;
}

.item-list .item h3 {
  margin: 0;
  font-size: 20px;
  color: #005bb5;
}
.item-list .item .image-wrapper {
  float: left;
  margin-right: 20px;
}
.item-list .item .image-wrapper img {
  width: 150px;
  border: 1px solid #CCC;
}





